<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>

    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container" ng-controller="dishDetailController as ddCtrl">
        <div class="row row-content">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" ng-src="{{ddCtrl.dish.image}}" alt="{{ddCtrl.dish.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ddCtrl.dish.name}}</h4>
                        {{ddCtrl.dish.description}}
                        <dl class="dl-horizontal">
                            <dt>Category</dt>
                            <dd>{{ddCtrl.dish.category}}</dd>

                            <dt ng-if="ddCtrl.dish.label">Label</dt>
                            <dd ng-if="ddCtrl.dish.label">{{ddCtrl.dish.label}}</dd>

                            <dt>price</dt>
                            <dd>{{ddCtrl.dish.price|currency}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <div class="well">
                    Filter by: <input type="text" ng-model="ddCtrl.dirty_order_by" ng-change="ddCtrl.getOrderBy()" />
                </div>
                <blockquote ng-repeat="comment in ddCtrl.dish.comments | orderBy:ddCtrl.order_by">
                    <p>{{comment.comment}}</p>
                    <dl class="dl-horizontal">
                        <dt>Rating: </dt>
                        <dd>{{comment.rating}}</dd>

                        <dt>Date:</dt>
                        <dd>{{comment.date|date:'medium'}}</dd>
                    </dl>
                    <footer>
                        <cite>{{comment.author}}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module('confusionApp',[]);
        app.controller('dishDetailController', function() {
            var dish={
                name:'Uthapizza',
                image: 'images/uthapizza.png',
                category: 'mains',
                label:'Hot',
                price:'4.99',
                description:'A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                comments: [
                    {
                       rating:5,
                       comment:"Imagine all the eatables, living in conFusion!",
                       author:"John Lemon",
                       date:"2012-10-16T17:57:28.556094Z"
                    },
                    {
                       rating:4,
                       comment:"Sends anyone to heaven, I wish I could get my mother-in-law to eat it!",
                       author:"Paul McVites",
                       date:"2014-09-05T17:57:28.556094Z"
                    },
                    {
                       rating:3,
                       comment:"Eat it, just eat it!",
                       author:"Michael Jaikishan",
                       date:"2015-02-13T17:57:28.556094Z"
                    },
                    {
                       rating:4,
                       comment:"Ultimate, Reaching for the stars!",
                       author:"Ringo Starry",
                       date:"2013-12-02T17:57:28.556094Z"
                    },
                    {
                       rating:2,
                       comment:"It's your birthday, we're gonna party!",
                       author:"25 Cent",
                       date:"2011-12-02T17:57:28.556094Z"
                    }

                ]
            };
            this.dish = dish;
            this.dirty_order_by = 'rating';
            this.order_by = 'rating';
            this.getOrderBy = function(){
                var availableValues = ['rating', '-rating', 'author', '-author', 'date', '-date'];
                var order_by = this.dirty_order_by.trim().toLowerCase();
                if (availableValues.indexOf(order_by) !== -1){
                    this.order_by = order_by;
                }
            }


        });
    </script>
</body>
</html>
